<PageTitle>401 Unauthorized</PageTitle>

<div class="error-page-wrapper">
    <div class="container-sheet animate-fade-in">
        <h1 class="error-code unauth-text">401</h1>
    <h2 class="error-title">Unauthorized</h2>
    <p class="error-message">You (@Environment.UserName) are not in the authorized reset table.<br />If you think you should be, please contact an admin.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>
