@page "/approve-samples"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Approve Samples</PageTitle>

<h2>Sample approval will show all the samples that haven't been approved and provide an option to expand each one to view details/approve</h2>
